body{
  background-color: #b7ced2;
  text-align: center;
  display:flex; 
  flex-direction:column; 
  justify-content:center;
  min-height:100vh;
}


a{
  text-decoration: none;
  font-size:20pt;
  font-weight: bolder;
  color: black;
}


.start{
  text-align: center;
  font-size: 20pt;
}

.quiz{
  display:none;
  font-size: 25px;
} 
.quiz li:hover,a:hover{
  background-color:silver;
  
}
li {
  display:table;
  margin:0px auto 0px auto;
}

.summary{
  display:none;
  font-size: 25px;
}

.selected{
  background-color: grey; 
}
